

<div class="container">
    
    <h3 style="margin-top:70px;margin-bottom:30px;"> New Complexity Matrix</h3>

<%#= render 'form', complexity: @complexity %>

<%#= link_to 'Back', complexities_path %>

   <div class="row">
    <div class="col-lg-3" style="outline: 2px solid #ccc;">
      Title
    </div>
     <div class="col-lg-2" style="outline: 2px solid #ccc;">
     Short Name
    </div>
     <div class="col-lg-1" style="outline: 2px solid #ccc;">
      BENEFIT
    </div>
     <div class="col-lg-1" style="outline: 2px solid #ccc;">
      <br>ACCOMPLISH
    </div>
     <div class="col-lg-1" style="outline: 2px solid #ccc;">
      AT STAKE 
    </div>
     <div class="col-lg-1" style="outline: 2px solid #ccc;">
      PRESSURES
    </div>
     <div class="col-lg-1" style="outline: 2px solid #ccc;">
      CHANGE 
    </div>
     <div class="col-lg-1" style="outline: 2px solid #ccc;">
      IMPACT SCORE
    </div>
     <div class="col-lg-1" style="outline: 2px solid #ccc;">
      GUT CHECK 
    </div>
   
  </div>

 
</div>