<p id="notice"><%= notice %></p>

<p>
  <strong>Comments:</strong>
  <%= @complexity.comments %>
</p>

<%= link_to 'Edit', edit_complexity_path(@complexity) %> |
<%= link_to 'Back', complexities_path %>
