<div class="container">
    
    <h3 style="margin-top:70px;">Import File</h3>

<%= form_tag("import_cards", :enctype =>"multipart/form-data") do %>
   <div class="field">
     <%= label_tag :file %>
     <%= file_field_tag :file %>
   </div>
   <div class="actions">
      <%= submit_tag 'Next' %>
   </div>
<% end %>
</div>