
<header>
<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/home" class="navbar-brand">LIT Work Portal</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsable">
      <ul class="nav navbar-nav foo" id="menu">
        <p class="navbar-text"></p>
       
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Cards <b class="caret"></b></a>
           <ul class="dropdown-menu">
            <li><a href="/cards/add">Add</a></li>
            <li class="divider"></li>
            <li><a href="/cards/import">Import</a></li>
            <li class="divider"></li>
            <li><a href="/cards/update">Update</a></li>   
            <li class="divider"></li>
            <li><a href="/cards/browse">Browse</a></li>        
          </ul>
        </li>
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/admin">Add</a></li>
            <li class="divider"></li>
            <li><a href="/one">Update</a></li>          
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/admin">Complexity</a></li>
            <li class="divider"></li>
            <li><a href="/one">Impact</a></li> 
             <li class="divider"></li>
            <li><a href="/one">Mid-Cycle Review</a></li>  
             <li class="divider"></li>
            <li><a href="/one">End-Cycle Review</a></li>         
          </ul>
        </li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Active Cycle</a></li>
            <li class="divider"></li>
            <li><a href="">New Cycle</a></li>            
          </ul>
        </li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Cards</a></li>
            <li class="divider"></li>
            <li><a href="">Complexity</a></li> 
            <li class="divider"></li>
            <li><a href="">Impact</a></li>    
            <li class="divider"></li>
            <li><a href="">Mid-Cycle Review</a></li> 
            <li class="divider"></li>
            <li><a href="">End-Cycle Review</a></li>    

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" align="right">
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
